@page
@using Microsoft.Azure.Devices.Shared;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<Twin> twins = (List<Twin>)ViewData["twins"]!;

}
<style>
    table, table tr th, table tr td {
        border: 1px solid #0094ff;
    }

    table {
        line-height: 35px;
        text-align: center;
        border-collapse: collapse;
    }
</style>

<div>
    <center>
    <h3>Show All Devices</h3>
    <br/>
    <br/>


    <table border="1" cellpadding="5" cellspacing="5">
        <tr >
            <td>Deivce ID</td>
            <td>Connection Status</td>
            <td>
                Operations
            </td>
        </tr>

        @foreach ( var twin in Model.twins )
        {
            <tr>
                <td>
                    @twin.DeviceId
                </td>

                <td>
                    @twin.ConnectionState
                </td>

                <td>
                    <a asp-page="ViewTwins" asp-route-deviceid="@twin.DeviceId">Device Twin</a>
                    <br/>

                </td>

            </tr>
            

        }





    </table>


    </center>





</div>
